﻿@using System.Globalization
@model List<OrderViewModel>
@{
    ViewData["Title"] = "Order";

}


<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
@*    <link rel="stylesheet" href="/css/style.css">
*@
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container-lg">
        <div class="table-responsive">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>ORDER LIST</b></h2></div>
                    <div class="col-sm-4">
@*                        <input type="text" class="form-control" id="searchBy" style="width:60%;margin-left:40%;">
                        <button type="button" class="btn btn-info add-new" onclick="doSearch()"><i class="fa fa-search"></i>Search</button>
*@
                        <button type="button" class="btn btn-info add-new" onclick="Add()" style="margin-left:65%;"><i class="fa fa-plus"></i>New Order</button>

                    </div>
                </div>
            </div>
            <table class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">STATUS APPROVE</th>
                        <th style="text-align: center;">APPROVER NAME</th>
                        <th style="text-align: center;">ORDER NUMBER</th>
                        <th style="text-align: center;">ORDER DATE</th>
                        <th style="text-align: center;">CUSTOMER</th>
                        <th style="text-align: center;">TYPE</th>
                        <th style="text-align: center;">SHIP DATE</th>
                        <th style="text-align: center;">SHIP NAME</th>
                        <th style="text-align: center;">PHONE</th>
                        <th style="text-align: center;">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var order in Model)
                    {
                        <tr>
                            <td style="text-align: center;" ><input type="checkbox" checked="@order.StatusApprove" disabled/></td>
                            <td style="text-align: left;" >@order.ApproverName</td>
                            <td style="text-align: right;" >@Html.ActionLink(@order.OrderNumber,"OrderDetail", new { @order.OrderNumber})</td>
                            <td style="text-align: center;">@Convert.ToString(string.Format("{0:dddd, MMM dd, yyyy}", order.OrderDate))</td>
                            <td style="text-align: left;">@order.ContactName</td>
                            <td style="text-align: left;">@order.CustomerType</td>
                            <td style="text-align: center;">@Convert.ToString(string.Format("{0:dddd, MMM dd, yyyy}", order.ShippedDate))</td>
                            <td style="text-align: left;">@order.ShipName</td>
                            <td style="text-align: center;">@order.Phone</td>
                            <td style="text-align: right;">Rp. @order.SumTotal.ToString("###0.00", CultureInfo.InvariantCulture)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<style>
    td {
        padding: 5px;
        text-align: center;
    }
</style>


<script>
    // [START][Add Order]
    function Add() {
        window.location.href = '@Url.Action("OrderAdd", "Order")';
    }
    // [END Add Order]

    function doSearch() {
        let approverName = $("#searchBy").val();

        $.ajax({
            type: "POST",
            url: 'Order',
            data: {
                param: approverName
            },
            success: function(result) {

            },
            error: function() {
            }
        });
    }

</script>

