﻿@using System.Globalization
@using TestCandidate.Models

@{
    ViewData["Title"] = "Order Detail";

}

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div>
        <h4>Order Detail</h4><h4>@ViewBag.OrderInfo[0].OrderNumber</h4>
        <hr />
        <div class="row">
            <div class="column">
                <table>
                    <tr>
                        <td style="text-align:center" colspan="2"><h6>Order Information</h6></td>
                    </tr>
                    <tr>
                        <td>Order Date</td>
                        <td>
                            <input class="form-control" id="EditOrderDate" value="@Convert.ToString(string.Format("{0:dddd, MMM dd, yyyy}", ViewBag.OrderInfo[0].OrderDate))" disabled />
                            <input class="form-control" id="EditOrderDate2" value="@ViewBag.OrderInfo[0].OrderDate" hidden />
                            <input class="form-control" id="EditRequiredDate2" value="@ViewBag.OrderInfo[0].RequiredDate" hidden />
                            <input class="form-control" id="EditShippedDate2" value="@ViewBag.OrderInfo[0].ShippedDate" hidden />
                            <input class="form-control" id="custId" value="@ViewBag.CustInfo[0].CustomerId" hidden />
                        </td>
                    </tr>
                    <tr>
                        <td>Require Date</td>
                        <td><input class="form-control" id="EditRequiredDate" value="@Convert.ToString(string.Format("{0:dddd, MMM dd, yyyy}", ViewBag.OrderInfo[0].RequiredDate))" disabled /></td>
                    </tr>
                    <tr>
                        <td>Term Of Payment</td>
@*                        <td><input class="form-control" id="EditTop" value="@Convert.ToString(string.Format("{0:dddd, MMM dd, yyyy}", ViewBag.OrderInfo[0].TermOfPayment))" disabled /></td>
                        *@
                        <td><input class="form-control" id="EditTop" value="@Convert.ToString(string.Format("{0:dddd, MMM dd, yyyy}", ViewBag.OrderInfo[0].RequiredDate))" disabled /></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
@*                        <td><input type="text" class="form-control" id="EditNotes" value="@ViewBag.CustInfo[0].Notes" disabled /></td>*@
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Rp. @ViewBag.OrderInfo[0].Total.ToString("###0.00", CultureInfo.InvariantCulture)</td>
                        <input class="form-control" id="orderNo" value="@ViewBag.OrderInfo[0].OrderNumber" hidden />
                    </tr>
                </table>

                <table>
                    <tr>
                        <td style="text-align:center" colspan="6"><h6>Order Detail Information</h6></td>
                    </tr>
                    <tr>
                        <td>Product</td>
                        <td>Price</td>
                        <td>QTY</td>
                        <td>Discount</td>
                        <td>Tax</td>
                        <td>Total</td>
                    </tr>
                    <tbody>
                        @foreach (var orderDetailInfo in ViewBag.OrderDetailInfo)
                        {
                            <tr>

                                <td>@orderDetailInfo.ProductName</td>
                                <td>Rp. @orderDetailInfo.UnitPrice.ToString("###0.00", CultureInfo.InvariantCulture)</td>
                                <td>@orderDetailInfo.Quantity</td>
                                <td> % </td>
                                <td> 10 %</td>
                                <td>Rp. @orderDetailInfo.Total.ToString("###0.00", CultureInfo.InvariantCulture)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="column">
                <table>
                    <tr>
                        <td style="text-align:center" colspan="2"><h6>Customer Information</h6></td>
                    </tr>
                    <tr>
                        <td>Customer</td>
                        <td><input type="text" class="form-control" id="EditCustomer" value="@ViewBag.CustInfo[0].ContactName" disabled /></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input type="number" class="form-control" id="EditPhone" value="@ViewBag.CustInfo[0].Phone" disabled /></td>
                    </tr>
                    <tr>
                        <td>Account Number</td>
                        <td>@ViewBag.CustInfo[0].CustomerId</td>

                    </tr>
                    <tr>
                        <td>Shipped Date</td>
                        <td><input type="" class="form-control" id="EditShippedDate" value="@Convert.ToString(string.Format("{0:dddd, MMM dd, yyyy}", ViewBag.CustInfo[0].ShippedDate))" disabled /></td>
                    </tr>
                    <tr>
                        <td>Freight</td>                          
                        <td><input type="number" class="form-control" id="EditFreight" value="@(ViewBag.CustInfo[0].Freight != null ? ViewBag.CustInfo[0].Freight : "")" disabled /></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="form-control" id="EditName" value="@ViewBag.CustInfo[0].ContactName" disabled /></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control" id="EditAddress" value="@ViewBag.CustInfo[0].Address" disabled /></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><input type="text" class="form-control" id="EditCity" value="@ViewBag.CustInfo[0].City" disabled /></td>
                    </tr>
                    <tr>
                        <td>Region</td>
                        <td><input type="text" class="form-control" id="EditRegion" value="@ViewBag.CustInfo[0].Region" disabled /></td>
                    </tr>
                    <tr>
                        <td>Postal Code</td>
                        <td><input type="number" class="form-control" id="EditPostalCode" value="@ViewBag.CustInfo[0].PostalCode" disabled /></td>
                    <tr>
                        <td>Country</td>
                        <td><input type="text" class="form-control" id="EditCountry" value="@ViewBag.CustInfo[0].Country" disabled /></td>
                    </tr>
                </table>
                <button type="button" class="btn btn-warning" onclick="doCancel()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-edit" onclick="doEdit()" data-dismiss="modal">Edit</button>
                <button type="button" class="btn btn-primary" onclick="doConfirmEdit()">Save Changes</button>
                <button type="button" class="btn btn-danger" onclick="doDelete('@ViewBag.OrderInfo[0].OrderNumber')">Delete</button>
            </div>

            <table style="margin-top:10%">
                <tr>
                    <td style="text-align:center" colspan="2"><h6>Approval Status</h6></td>
                </tr>
                <tr>
                    <td>Approval Status</td>
                    <td>Approver Name</td>
                </tr>
                <tbody>
                    @foreach (var approvalStatus in ViewBag.ApprovalStatus)
                    {
                        <tr>

                            <td>@(approvalStatus.StatusApprove == false ? "Need Approval" : "Approved") </td>
                            <td><input type="text" class="form-control" data-approverId="@approvalStatus.ApproverId" id="EditApprover" value="@approvalStatus.ApproverName" placeholder="Approver Name"/></td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-info" style="width:20%; margin-left:auto;margin-right:auto" onclick="doApprove()">Approve</button>
        </div>

</body>
</html>

<script>
    $(document).ready(function() {
        $(".btn-warning").hide();
        $(".btn-primary").hide();
        let oldOrderDate = $("#EditOrderDate").val();
        let approverName = $("#EditApprover").val();

        if (approverName == null || approverName == "") {
            $(".btn-info").show();
        }
        else {
            $("#EditApprover").prop('disabled', true);
            $(".btn-info").hide();
        }
    });

    function doApprove() {
        let approverName = $("#EditApprover").val();
        let approverId = $("#EditApprover").attr('data-approverId');

        if (approverName == null || approverName == "") {
            swal("Error", "Approver Name must be filled", "error");
            return
        }


        swal({
            title: "Are you sure about Approved this Order?",
            type: "info",
            showCancelButton: true,
            confirmButtonText: "Approve It",
            confirmButtonColor: "#ff0055",
            cancelButtonColor: "#999999",
            reverseButtons: true,
            focusConfirm: false,
            focusCancel: true
        }).then(function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: '/Order/ApproverUpdate',
                    data: {
                        ApproverId: approverId,
                        ApproverName: approverName
                    },
                    success: function() {
                        swal("Success", "Order Approved successfully", "success").then(function(isConfirm) {
                            if (isConfirm) {                               
                                location.reload();
                            }
                        });
                    },
                    error: function() {
                        swal("Error", "Order Approved failed", "error")
                        location.reload();
                    }
                });
            }
            else {
                location.reload();
            }
        });
    }

    function doEdit() {
        $(".btn-danger").hide();
        $(".btn-edit").hide();
        $(".btn-warning").show();
        $(".btn-primary").show();

        $('#EditOrderDate').get(0).type = 'date';
        //$('#EditTop').get(0).type = 'date';
        $('#EditRequiredDate').get(0).type = 'date';
        //$('#EditShippedDate').get(0).type = 'date';

        $("input").prop('disabled', false);

    }

    function doConfirmEdit() {
        //let orderNo = $("#orderNo").val();
        //let EditOrderDate = $("#EditOrderDate").val();
        //let EditRequiredDate = $("#EditRequiredDate").val();
        //let EditTop = $("#EditTop").val();
        //let EditCustomer = $("#EditCustomer").val();
        //let EditPhone = $("#EditPhone").val();
        //let EditShippedDate = $("#EditShippedDate").val();
        //let EditFreight = $("#EditFreight").val();
        //let EditName = $("#EditName").val();
        //let EditAddress = $("#EditAddress").val();
        //let EditCity = $("#EditCity").val();
        //let EditRegion = $("#EditRegion").val();
        //let EditPostalCode = $("#EditPostalCode").val();
        //let EditCountry = $("#EditCountry").val();


        //if (name == null || name == "") {
        //    swal("Error", "Customer Name must be filled", "error");
        //    return
        //}
        //else if (telp == null || telp == "") {
        //    swal("Error", "Telephone Number must be filled", "error");
        //    return
        //}
        //else
        //if (address == null || address == "") {
        //    swal("Error", "Address Name must be filled", "error");
        //    return
        //}
        //else
        //if (bank == null || bank == "") {
        //    swal("Error", "Bank Account Name must be filled", "error");
        //    return
        //}

        swal({
            title: "Are You Sure to Save Product?",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            confirmButtonColor: "#00ff99",
            cancelButtonColor: "#ff0099"
        }).then(function(isConfirm) {
            if (isConfirm) {
                SaveEdit()
            }
        });
    }

    function SaveEdit() {
        let orderNo = $("#orderNo").val();
        let EditOrderDate = $("#EditOrderDate").val();
        let EditRequiredDate = $("#EditRequiredDate").val();
        let EditTop = $("#EditTop").val();
        let EditCustomer = $("#EditCustomer").val();
        let EditPhone = $("#EditPhone").val();
        let EditShippedDate = $("#EditShippedDate").val();
        let EditFreight = $("#EditFreight").val();
        let EditName = $("#EditName").val();
        let EditAddress = $("#EditAddress").val();
        let EditRegion = $("#EditRegion").val();
        let EditPostalCode = $("#EditPostalCode").val();
        let EditCountry = $("#EditCountry").val();
        let custId = $("#custId").val();
        let EditCity = $("#EditCity").val();
        //let EditNotes = $("#EditNotes").val();


        // Input Edit
        if (EditOrderDate == null || EditOrderDate == "") {
            var oldOrderDate = $("#EditOrderDate2").val();
            EditOrderDate = oldOrderDate;
        }
        if (EditRequiredDate == null || EditRequiredDate == "") {
            var oldRequiredDate = $("#EditRequiredDate2").val();
            EditRequiredDate = oldRequiredDate;
        }
        //if (EditShippedDate == null || EditShippedDate == "") {
        //    var oldShippedDate = $("#EditShippedDate2").val();
        //    EditShippedDate = oldShippedDate;
        //}
        if (EditTop == null || EditTop == "") {
            var oldTop = $("#EditTop2").val();
            EditTop = oldTop;
        }

        //if (name == null || name == "") {
        //    swal("Error", "Customer Name must be filled", "error");
        //    return
        //}
        //else if (telp == null || telp == "") {
        //    swal("Error", "Telephone Number must be filled", "error");
        //    return
        //}
        //else
        //if (address == null || address == "") {
        //    swal("Error", "Address Name must be filled", "error");
        //    return
        //}
        //else
        //if (bank == null || bank == "") {
        //    swal("Error", "Bank Account Name must be filled", "error");
        //    return
        //}

        $.ajax({
            type: "POST",
            url: '/Order/EditOrder',
            data: {
                OrderNumber: orderNo,
                OrderDate: EditOrderDate,
                RequiredDate: EditRequiredDate,
                //TermOfPayment: EditTop,
                ContactName: EditCustomer,
                Phone: EditPhone,
                ShippedDate: EditShippedDate,
                Freight: EditFreight,
                ContactName: EditName,
                Address: EditAddress,
                Region: EditRegion,
                PostalCode: EditPostalCode,
                Country: EditCountry,
                CustomerId: custId,
                City: EditCity
                //Notes: EditNotes

            },
            success: function(result) {
                if (result.message == null || result.message == "") {
                    swal("Success", "Order Edit successfully", "success").then(function(isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                else {
                    swal("Failed", result.message, "error");
                }
            },
            error: function() {
                swal("Failed", "Order Edit to add", "error");
            }
        });
    }


    // [Start][Delete Data]
    function doDelete(orderNumber) {
        swal({
            title: "Are you sure about deleting this Order?",
            type: "info",
            showCancelButton: true,
            confirmButtonText: "Delete It",
            confirmButtonColor: "#ff0055",
            cancelButtonColor: "#999999",
            reverseButtons: true,
            focusConfirm: false,
            focusCancel: true
        }).then(function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: '/Order/DeleteOrder',
                    data: {
                        OrderNumber: orderNumber
                    },
                    success: function() {
                        swal("Success", "Order Deleted successfully", "success").then(function(isConfirm) {
                            if (isConfirm) {
                                window.location.href = "/Order"
                            }
                        });
                    },
                    error: function() {
                        swal("Error", "Order delete failed", "error")
                        location.reload();
                    }
                });
            }
            else {
                location.reload();
            }
        });
    }
    //[END][Delete Data]


    function doCancel() {
        location.reload();
    }

</script>

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>