﻿@using System.Globalization
@using TestCandidate.Models

@{
    ViewData["Title"] = "Order Add";

}
@Html.Partial("ProductAdd")

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h4>Order Detail</h4>
        <hr />
        <div class="row">
            <!-- Customer Inormation -->
            <div class="column">
                <table>
                    <tr>
                        <td style="text-align:center" colspan="2"><h6>Customer Information</h6></td>
                    </tr>
                    <tr>
                        <td>Serial Number:</td>
                        <td>
                            <input type="number" class="form-control" id="addSerialNumber" disabled value="@ViewBag.SerialNumber">
                        </td>
                    </tr>
                    <tr>
                        <td>Customer Type:</td>
                        <td>
                            <div class="wrapper-class">
                                <input type="radio" id="addTypecustomer" name="typeCust" value="Company">
                                <label>Company</label>
                                <input type="radio" id="addTypecustomer" name="typeCust" value="Customer">
                                <label>Customer</label>
                            </div>
                        </td>
                    </tr>
@*                    <tr>
                        <td>Customer ID:</td>
                        <td>
                            <input type="text" class="form-control" id="addCustomerId">
                        </td>
                    </tr>*@
                    <tr>
                        <td>Customer Name:</td>
                        <td>
                            <input type="text" class="form-control" id="addCustomerName">
                        </td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>
                            <input type="number" class="form-control" id="addTelpNumber">
                        </td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>
                            <input type="text" class="form-control" id="addAdress">
                        </td>
                    </tr>
                    <tr>
                        <td>Bank Account:</td>
                        <td>
                            <input type="number" class="form-control" id="addBank">
                        </td>
                    </tr>

                </table>

                <!-- Order Detail Inormation -->
                <table>
                    <tr>
                        <td style="text-align:center" colspan="4"><h6>Order Detail Information</h6></td>
                    </tr>
                    <tr>
                        <td style="text-align:center" colspan="4">
                            <button type="button" class="btn btn-info add-new" id="modalku" onclick="AddProduct()">Add Product</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Product</th>
                        <th>QTY Per Unit</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    <tbody id="product">
@*                        <tr id="discount">
                            <td></td>
                            <td>Discount</td>
                            <td></td>
                        </tr>
                        <tr id="tax">
                            <td></td>
                            <td>Tax</td>
                            <td></td>
                        </tr>
                        <tr id="grandTotal">
                            <td></td>
                            <td>Grand Total</td>
                            <td></td>
                        </tr>*@
                    </tbody>
                </table>

                <div class="row" id="rowProduct">
@*                    <input type="text" class="form-control" style="width: 23%;" id="addProduct">
*@                    <select class="form-select" style="width: 23%;" id="selectProduct">
                        <option value="">Choose</option>
                        @foreach (var product in @ViewBag.Product)
                        {
                            <option id="productName" value="@product.ProductId" data-qtyunit="@product.QuantityPerUnit" >@product.ProductName</option>
                        }
                    </select>
                    <input type="text" class="form-control" style="width: 30%;" id="idQtyPerUnit">
                    <input type="number" class="form-control" style="width: 23%;" id="idQty">
                    <input type="number" class="form-control" style="width: 23%;" disabled id="idTotal">
                </div>
                <br />
                <div class="row">
                    <p style="width: 23%;"></p>
                    <p style="width: 30%;"></p>
                    <p style="width: 23%;font-weight:bold">Discount: </p>
                    <input type="text" class="form-control" style="width: 23%;" id="idDiscount">
                </div>
                @*<div class="row">
                    <p style="width: 23%;"></p>
                    <p style="width: 30%;"></p>
                    <p style="width: 23%;font-weight:bold">Tax: </p>
                    <p style="width: 23%;"></p>
                </div>
                <div class="row">
                    <p style="width: 23%;"></p>
                    <p style="width: 30%;"></p>
                    <p style="width: 23%;font-weight:bold">Grand Total: </p>
                    <p style="width: 23%;"></p>
                </div>*@

            </div>

            <!-- Order Information -->
            <div class="column">
                <table>
                    <tr>
                        <td style="text-align:center" colspan="2"><h6>Order Information</h6></td>
                    </tr>
                    <tr>
                        <td>Order Date:</td>
                        <td>
                            <input type="date" class="form-control" id="addOrderDate">
                        </td>
                    </tr>
                    <tr>
                        <td>Shipped Date:</td>
                        <td>
                            <input type="date" class="form-control" id="addShippedDate">
                        </td>
                    </tr>
                    <tr>
                        <td>Term of Payment:</td>
                        <td>
                            <input type="date" class="form-control" id="addTermOfPayment">
                        </td>
                    </tr>
                    <tr>
                        <td>Notes:</td>
                        <td>
                            <input type="text" class="form-control" id="addNotes">
                        </td>
                    </tr>
@*                    <tr>
                        <td>Nominal Ammount:</td>
                        <td>
                            <input type="number" class="form-control" id="addAmmount">
                        </td>
                    </tr>*@
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="doCancel()" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="doConfirmAdd()">Save Changes</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

<script>
    // Start Add Product
    function AddProduct() {
        $('#exampleModal').modal('show');
    }

    $("#selectProduct").on('change', function() {
        var getQtyPerUnit = $("#productName").attr('data-qtyunit');
        $("#idQtyPerUnit").val(getQtyPerUnit);
    });
    //End Add Product


    // Start Save Order
    function doConfirmAdd() {
        swal({
            title: "Are You Sure to Save Product?",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            confirmButtonColor: "#00ff99",
            cancelButtonColor: "#ff0099"
        }).then(function(isConfirm) {
            if (isConfirm) {
                doSaveAdd();
            }
        });
    }
    // End Save Order

    function doSaveAdd() {
        let serial = $("#addSerialNumber").val();
        let customerType = $("input[type='radio'][name='typeCust']:checked").val();
        let custId = $("#addCustomerId").val();
        let name = $("#addCustomerName").val();
        let telp = $("#addTelpNumber").val();
        let address = $("#addAdress").val();
        let bank = $("#addBank").val();

        let orderDate = $("#addOrderDate").val();
        let shippedDate = $("#addShippedDate").val();
        let top = $("#addTermOfPayment").val();
        let ammount = $("#addAmmount").val();

        let product = $("#selectProduct").val();
        let qtyUnit = $("#idQtyPerUnit").val();
        let qty = $("#idQty").val();
        let notes = $("#addNotes").val();
        let discount = $("#idDiscount").val();


        if (name == null || name == "") {
            swal("Error", "Customer Name must be filled", "error");
            return
        }
        else if (telp == null || telp == "") {
            swal("Error", "Telephone Number must be filled", "error");
            return
        }
        else
        if (address == null || address == "") {
            swal("Error", "Address Name must be filled", "error");
            return
        }
        else
        if (bank == null || bank == "") {
            swal("Error", "Bank Account Name must be filled", "error");
            return
        }
       

        $.ajax({
            type: "POST",
            url: '/Order/AddOrder',
            data: {
                CustomerId: custId,
                CurrentNo: serial,
                CustomerType: customerType,
                ContactName: name,
                Phone: telp,
                Address: address,
                Bank: bank,
                OrderDate: orderDate,
                ShippedDate: shippedDate,
                TermOfPayment: top,
                ProductId: product,
                QuantityPerUnit: qtyUnit,
                Quantity: qty,
                Notes: notes,
                Discount: discount
            },
            success: function(result) {
                if (result.message == null || result.message == "") {
                    swal("Success", "Order added successfully", "success").then(function(isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                else {
                    swal("Failed", result.message, "error");
                }
            },
            error: function() {
                swal("Failed", "Order failed to add", "error");
            }
        });
    }

</script>

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>