﻿@using System.Globalization
@using TestCandidate.Models

@{
    ViewData["Title"] = "Index";

}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Product</label>
                        <select class="form-select" style="width: 23%;" id="selectProductModal">
                            @foreach (var product in @ViewBag.Product)
                            {
                                <option id="productNameModal" value="@product.ProductId" data-qtyunit="@product.QuantityPerUnit" data-stock="@product.UnitsInStock" data-name=@product.ProductName >@product.ProductName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Stok</label>
                        <input type="number" class="form-control" id="addProductStok">
                    </div>
                    <div class="form-group">
                        <label for="">Price</label>
                        <input type="number" class="form-control" id="addProductQty">
                    </div>
                    <div class="form-group">
                        <label for="">Discount(%)</label>
                        <input type="number" class="form-control" id="addProductDiscount">
                    </div>
                    <div class="form-group">
                        <label for="">Total Discount</label>
                        <input type="number" class="form-control" id="totalDiscount" value="Total Discount" disabled>
                    </div>
                    <div class="form-group">
                        <label for="">Tax(10%)</label>
                        <input type="number" class="form-control" id="tax" value="Tax" disabled>
                    </div>
                    <div class="form-group">
                        <label for="">Total</label>
                        <input type="number" class="form-control" id="total" value="Total" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" onclick="doAdd()" data-dismiss="modal">ADD</button>
                    <button type="button" class="btn" onclick="doClose()">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function doClose(){
        $('#exampleModal').modal('hide');
    }
    var getProductName;
    var getStock = $("#addProductStok").val();
    var getQtyUnit = $("#addProductQty").val();

    $("#selectProductModal").on('change', function () {
        getProductName = $("#productNameModal").attr('data-name');
        $("#productNameModal").val(getProductName);
    });
    function doAdd(){
        console.log('name:', getProductName);
        $("#rowProduct").append("<input type='text'' class='form-control' style='width: 23%;' id='addProduct' value = '" + getProductName + "' disabled><input type='text' class='form-control' style='width: 30%;' id='idQtyPerUnit' value='" + getQtyUnit + "'><input type='number' class='form-control' style='width: 23%;' id='idQty'><input type='number' class='form-control' style='width: 23%;' disabled id='idTotal'>");

    }



</script>


