﻿@using System.Globalization
@model List<Product>
@{
    ViewData["Title"] = "Product";
}

@Html.Partial("ProductAdd")
@Html.Partial("ProductEdit")

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container-lg">
        <div class="table-responsive">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>PRODUCT DATA</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" onclick="Add()"><i class="fa fa-plus"></i>New Product</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        @*<th style="text-align: center;"><input type="checkbox" class="grid-checkbox-all" id="checkAll" /></th>*@
                        <th style="text-align: center;">PRODUCT NAME</th>
                        <th style="text-align: center;">QTY PER UNIT</th>
                        <th style="text-align: center;">UNIT PRICE</th>
                        <th style="text-align: center;">UNIT IN STOCK</th>
                        <th style="text-align: center;">UNIT ON ORDER</th>
                        <th style="text-align: center;">REORDER LEVEL</th>
                        <th style="text-align: center;">DISCONTINUED</th>
                        <th style="text-align: center;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
@*                                <td>
                                <input type="checkbox" class="grid-checkbox-body" value="" name="cebox"
                                   data-product="" />
                                </td>*@
                                <td style="display:none;" value="@item.ProductId" id="product_id">@item.ProductId</td>
                                <td style="text-align: left;">@item.ProductName</td>
                                <td style="text-align: right;">@item.QuantityPerUnit</td>
                                <td style="text-align: right;">Rp. @item.UnitPrice</td>
                                <td style="text-align: right;">@item.UnitsInStock</td>
                                <td style="text-align: right;">@item.UnitsOnOrder</td>
                                <td style="text-align: right;">@item.ReorderLevel</td>
                                <td>@Html.DisplayFor(modelItem => item.Discontinued)</td>

                                <td>
                                   <a class="edit" title="Edit" data-toggle="tooltip" onclick="doEdit('@item.ProductId',
                                                                                                        '@item.ProductName',
                                                                                                        '@item.QuantityPerUnit', 
                                                                                                        '@item.UnitPrice',
                                                                                                        '@item.UnitsInStock',
                                                                                                        '@item.UnitsOnOrder',
                                                                                                        '@item.ReorderLevel',
                                                                                                        '@item.Discontinued'
                                                                                                        )">                                    
                                      <i class="material-icons">&#xE254;</i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip" onclick="doDelete('@item.ProductId')"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<style>
    td {
        padding: 5px;
        text-align: center;
    }
</style>
<script>
    // [START][Add Data]
    function Add() {
        $('#exampleModal').modal('show');
    }

    function doConfirmAdd() {
        swal({
            title: "Are You Sure to Save Product?",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            confirmButtonColor: "#00ff99",
            cancelButtonColor: "#ff0099"
        }).then(function (isConfirm) {
            if (isConfirm) {
                doSaveAdd();
            } 
        });
    }

    function doConfirmEdit() {
        swal({
            title: "Are You Sure to Update Product?",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            confirmButtonColor: "#00ff99",
            cancelButtonColor: "#ff0099"
        }).then(function(isConfirm) {
            if (isConfirm) {
                doSaveEdit();
            }
        });
    }

    function doCancel() {
        location.reload();
    }

    function doSaveAdd() {
        let productName = $("#addProductName").val();
        let qtyPerUnit = $("#addQtyPerUnit").val();
        let unitPrice = $("#addUnitPrice").val();
        let unitsInStock = $("#addUnitInStock").val();
        let unitsOnOrder = $("#addUnitInOrder").val();
        let reorderLevel = $("#addReorder").val();
        let discontinued = $("input[type='radio'][name='discontinued']:checked").val();  
        
        if (productName == null || productName == "") {
            swal("Error", "Product Name must be filled", "error");
            return
        }

        $.ajax({
            type: "POST",
            url: 'Product/AddProduct',
            data: {
                ProductName: productName,
                QuantityPerUnit: qtyPerUnit,
                UnitPrice: unitPrice,
                UnitsInStock: unitsInStock,
                UnitsOnOrder: unitsOnOrder,
                ReorderLevel: reorderLevel,
                Discontinued: discontinued
            },
            success: function(result) {
                if (result.message == null || result.message == "") {
                    swal("Success", "Product added successfully", "success").then(function(isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                else {
                    swal("Failed", result.message, "error");
                }
            },
            error: function() {
                swal("Failed", "Product failed to add", "error");
            }
        });
    }
    // [END][Add Data]

    // [Start][Edit Data]
    function doEdit(productId,productName, quantityPerUnit, unitPrice, unitInStock, unitOnOrder, reorderLevel, discontinued){
        $('#exampleModalEdit').modal('show');

        $("#product_id").val(productId);
        $("#editProductName").val(productName);
        $("#editQtyPerUnit").val(quantityPerUnit);
        $("#editQtyPerUnit").val(quantityPerUnit);
        $("#editUnitPrice").val(unitPrice);
        $("#editUnitInStock").val(unitInStock);
        $("#editUnitInOrder").val(unitOnOrder);
        $("#editReorder").val(reorderLevel);
        $("input[type='radio'][name='discontinued']:checked").val();  
    }

    function doSaveEdit() {
        let productId = $("#product_id").val();
        let productName = $("#editProductName").val();
        let qtyPerUnit = $("#editQtyPerUnit").val();
        let unitPrice = $("#editUnitPrice").val();
        let unitsInStock = $("#editUnitInStock").val();
        let unitsOnOrder = $("#editUnitInOrder").val();
        let reorderLevel = $("#editReorder").val();
        let discontinued = $("input[type='radio'][name='discontinued']:checked").val();
        $.ajax({
            type: "POST",
            url: 'Product/UpdateProduct',
            data: {
                productId: productId,
                ProductName: productName,
                QuantityPerUnit: qtyPerUnit,
                UnitPrice: unitPrice,
                UnitsInStock: unitsInStock,
                UnitsOnOrder: unitsOnOrder,
                ReorderLevel: reorderLevel,
                Discontinued: discontinued
            },
            success: function(result) {
                if (result.message == null || result.message == "") {
                    swal("Success", "Product Update successfully", "success").then(function(isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                else {
                    swal("Failed", result.message, "error");
                }
            },
            error: function() {
                swal("Failed", "Product failed to Update", "error");
            }
        });

    }
    //[END][Edit Data]

    // [Start][Delete Data]
    function doDelete(productId) {
        swal({
            title: "Are you sure about deleting this product?",
            type: "info",
            showCancelButton: true,
            confirmButtonText: "Delete It",
            confirmButtonColor: "#ff0055",
            cancelButtonColor: "#999999",
            reverseButtons: true,
            focusConfirm: false,
            focusCancel: true
        }).then(function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: 'Product/DeleteProduct',
                    data: {
                        productId: productId
                    },
                    success: function() {
                        swal("Success", "Product Deleted successfully", "success").then(function(isConfirm) {
                            if (isConfirm) {
                                location.reload();
                            }
                        });
                    },
                    error: function() {
                        swal("Error", "Product delete failed", "error")
                        location.reload();
                    }
                });
            }
            else {
                location.reload();
            }
        });
    }
    //[END][Delete Data]
</script>


