﻿@using TestCandidate.Models

@{
    ViewData["Title"] = "Index";

}


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="Index" method="post" role="form">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Product Name:</label>
                        <input type="text" class="form-control" id="addProductName">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Quantity Per Unit:</label>
                        <input type="number" class="form-control" id="addQtyPerUnit">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Unit Price:</label>
                        <input type="number" class="form-control" id="addUnitPrice">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Unit In Stock:</label>
                        <input type="number" class="form-control" id="addUnitInStock">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Unit On Order:</label>
                        <input type="number" class="form-control" id="addUnitInOrder">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Reorder Level:</label>
                        <input type="number" class="form-control" id="addReorder">
                    </div>
                    <div class="form-group">
                        <div class="wrapper-class">
                            <label for="recipient-name" class="col-form-label">Discontinued: </label>
                            <input type="radio" id="addDiscontinued" name="discontinued" value="true">
                            <label>Yes</label>
                            <input type="radio" id="addDiscontinued" name="discontinued" value="false">
                            <label>No</label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="doCancel()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="doConfirmAdd()">Save Changes</button>
            </div>
        </div>
    </div>
</div>


