﻿@model List<OrderViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {
            var chartData = @Html.Raw(Json.Serialize(ViewBag.DataPoints));
            dataLabelLength = chartData.length;            
            
            var chartData2 = @Html.Raw(Json.Serialize(ViewBag.DataProduct));
            dataLabelLength2 = chartData2.length;


            tahun = [];
            total = [];
            products = [];
            bg = [];
            productCount = []

            var dynamicColors = function () {
                var r = Math.floor(Math.random() * 255);
                var g = Math.floor(Math.random() * 255);
                var b = Math.floor(Math.random() * 255);
                return "rgb(" + r + "," + g + "," + b + ")";
            };

            for (i = 0; i < dataLabelLength; i++) {
                tahun.push(chartData[i].orderDates);
                total.push(chartData[i].sumTotal);
                products.push(chartData[i].productName);
                bg.push(dynamicColors());
            }            
            
            for (i = 0; i < dataLabelLength2; i++) {
                productCount.push(chartData2[i].Count);
            }

            //var ChartData0 = { labels: tahun, datasets: [] }, array = total;
            //array.forEach(function (a) {
            //    ChartData0.datasets.push({
            //        label: products,
            //        backgroundColor: bg,
            //        data: JSON.parse(a)
            //    });
            //});

            //var chartData = {
            //    labels: tahun,
            //    datasets:
            //        [
            //            {
            //                label: "Mac Pro",
            //                backgroundColor: "blue",
            //                data: [7, 8, 3]
            //            }, 
            //            {
            //                label: "Iphone",
            //                backgroundColor: "red",
            //                data: [0, 9, 7]
            //            }, 
            //            {
            //                label: "Ayam",
            //                backgroundColor: "green",
            //                data: [0, 10, 12]
            //            }
            //        ]
            //};

            //console.log(total);
            //console.log('chartData: ', chartData);
            //console.log('ChartData0: ', ChartData0);

            new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                        labels: tahun,
                        datasets: [
                            {
                                label: 'Product',
                                backgroundColor: bg,
                                data: total
                            },
                        ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'SALES REPORT'
                    },
                    legend: {
                        display: true,
                        position: 'right'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 100px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <div style="">
        <canvas id="bar-chart">
        </canvas>
    </div>
</body>
</html>  