﻿@using TestCandidate.Models

@{
    ViewData["Title"] = "Index";

}


<div class="modal fade" id="modalCustomerEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="Index" method="post" role="form">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Company Name:</label>
                        <input type="text" class="form-control" id="editCompanyName">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Contact Name:</label>
                        <input type="text" class="form-control" id="editContactName">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Contact Title:</label>
                        <input type="text" class="form-control" id="editContactTitle">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Adress:</label>
                        <input type="text" class="form-control" id="editeditress">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">City:</label>
                        <input type="text" class="form-control" id="editCity">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Region:</label>
                        <input type="text" class="form-control" id="editRegion">
                    </div>                    
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Postal Code:</label>
                        <input type="number" class="form-control" id="editPostalCode">
                    </div>                    
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Country:</label>
                        <input type="text" class="form-control" id="editCountry">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Phone:</label>
                        <input type="number" class="form-control" id="editPhone">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Fax:</label>
                        <input type="number" class="form-control" id="editFax">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="doCancel()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="doConfirmEdit()">Save Changes</button>
            </div>
        </div>
    </div>
</div>


