﻿@using System.Globalization
@model List<Customer>
@{
    ViewData["Title"] = "Customer";
}

@Html.Partial("CustomerAdd")
@Html.Partial("CustomerEdit")

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />

    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-lg">
        <div class="table-responsive">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>CUSTOMER DATA</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new" onclick="Add()"><i class="fa fa-plus"></i>New Customer</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">COPMANY NAME</th>
                        <th style="text-align: center;">CONTACT NAME</th>
                        <th style="text-align: center;">CONTACT TITLE</th>
                        <th style="text-align: center;">ADDRESS</th>
                        <th style="text-align: center;">CITY</th>
                        <th style="text-align: center;">REGION</th>
                        <th style="text-align: center;">POSTAL CODE</th>
                        <th style="text-align: center;">COUNTRY</th>
                        <th style="text-align: center;">PHONE</th>
                        <th style="text-align: center;">FAX</th>
                        <th style="text-align: center;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var customer in Model)
                    {
                        <tr>
                            @*<td>
                        <input type="checkbox" class="grid-checkbox-body" value="" name="cebox"
                        data-customer="" />
                        </td>*@
                            <td style="display:none;" value="@customer.CustomerId" id="customer_id">@customer.CustomerId</td>
                            <td style="text-align: left;">@customer.CompanyName</td>
                            <td style="text-align: left;">@customer.ContactName</td>
                            <td style="text-align: left;">@customer.ContactTitle</td>
                            <td style="text-align: left;">@customer.Address</td>
                            <td style="text-align: left;">@customer.City</td>
                            <td style="text-align: left;">@customer.Region</td>
                            <td style="text-align: right;">@customer.PostalCode</td>
                            <td style="text-align: left;">@customer.Country</td>
                            <td style="text-align: right;">@customer.Phone</td>
                            <td style="text-align: right;">@customer.Fax</td>
                            <td>
                                <a class="edit" title="Edit" data-toggle="tooltip" onclick="doEdit(
                                                                                                   '@customer.CustomerId',
                                                                                                    '@customer.CompanyName',
                                                                                                    '@customer.ContactName',
                                                                                                    '@customer.ContactTitle',
                                                                                                    '@customer.Address',
                                                                                                    '@customer.City',
                                                                                                    '@customer.Region',
                                                                                                    '@customer.PostalCode',
                                                                                                    '@customer.Country',
                                                                                                    '@customer.Phone',
                                                                                                    '@customer.Fax',
                                                                                                    )">
                                    <i class="material-icons">&#xE254;</i>
                                </a>
                                <a class="delete" title="Delete" data-toggle="tooltip" onclick="doDelete('@customer.CustomerId')"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


<script>
    // [START][Add Data]
    function Add() {
        $('#modalCustomerAdd').modal('show');
    }

    function doConfirmAdd() {
        swal({
            title: "Are You Sure to Save Customer?",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            confirmButtonColor: "#00ff99",
            cancelButtonColor: "#ff0099"
        }).then(function (isConfirm) {
            if (isConfirm) {
                doSaveAdd();
            } 
        });
    }

    function doCancel() {
        location.reload();
    }

    function doSaveAdd() {
        let companyName = $("#addCompanyName").val();
        let contactName = $("#addContactName").val();
        let contactTitle = $("#addContactTitle").val();
        let address = $("#addAddress").val();
        let city = $("#addCity").val();
        let region = $("#addRegion").val();
        let postalCode = $("#addPostalCode").val();  
        let country = $("#addCountry").val();  
        let phone = $("#addPhone").val();  
        let fax = $("#addFax").val();  
        
        if (companyName == null || companyName == "") {
            swal("Error", "Company Name must be filled", "error");
            return
        }

        $.ajax({
            type: "POST",
            url: 'Customer/AddCustomer',
            data: {
                CompanyName: companyName,
                ContactName: contactName,
                ContactTitle: contactTitle,
                Address: address,
                City: city,
                Region: region,
                PostalCode: postalCode,
                Country: country,
                Phone: phone,
                Fax: fax
            },
            success: function(result) {
                if (result.message == null || result.message == "") {
                    swal("Success", "Product added successfully", "success").then(function(isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                else {
                    swal("Failed", result.message, "error");
                }
            },
            error: function() {
                swal("Failed", "Customer failed to add", "error");
            }
        });
    }
    // [END][Add Data]

    // [Start][Edit Data]
    function doConfirmEdit() {
        swal({
            title: "Are You Sure to Update Customer?",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            confirmButtonColor: "#00ff99",
            cancelButtonColor: "#ff0099"
        }).then(function(isConfirm) {
            if (isConfirm) {
                doSaveEdit();
            }
        });
    }

    function doEdit(customerId,companyName,contactName, contactTitle, address, city, region, postalCode, country,phone,fax){
        $('#modalCustomerEdit').modal('show');

        CustomerId = $("#customer_id").val(customerId);
        CompanyName = $("#editCompanyName").val(companyName);
        ContactName = $("#editContactName").val(contactName);
        ContactTitle = $("#editContactTitle").val(contactTitle);
        Address = $("#editeditress").val(address);
        City = $("#editCity").val(city);
        Region = $("#editRegion").val(region);
        PostalCode = $("#editPostalCode").val(postalCode);  
        Country = $("#editCountry").val(country);  
        Phone = $("#editPhone").val(phone);  
        Fax = $("#editFax").val(fax);  
    }

    function doSaveEdit() {
        let customerId = $("#customer_id").val();
        let companyName = $("#editCompanyName").val();
        let contactName = $("#editContactName").val();
        let contactTitle = $("#editContactTitle").val();
        let address = $("#editeditress").val();
        let city = $("#editCity").val();
        let region = $("#editRegion").val();
        let postalCode = $("#editPostalCode").val();  
        let country = $("#editCountry").val();  
        let phone = $("#editPhone").val();  
        let fax = $("#editFax").val();  
        $.ajax({
            type: "POST",
            url: 'Customer/UpdateCustomer',
            data: {
                CustomerId: customerId,
                CompanyName: companyName,
                ContactName: contactName,
                ContactTitle: contactTitle,
                Address: address,
                City: city,
                Region: region,
                PostalCode: postalCode,
                Country: country,
                Phone: phone,
                Fax: fax
            },
            success: function(result) {
                if (result.message == null || result.message == "") {
                    swal("Success", "Customer Update successfully", "success").then(function(isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                else {
                    swal("Failed", result.message, "error");
                }
            },
            error: function() {
                swal("Failed", "Customer failed to Update", "error");
            }
        });

    }
    //[END][Edit Data]

    // [Start][Delete Data]
    function doDelete(customerId) {
        swal({
            title: "Are you sure about deleting this Customer?",
            type: "info",
            showCancelButton: true,
            confirmButtonText: "Delete It",
            confirmButtonColor: "#ff0055",
            cancelButtonColor: "#999999",
            reverseButtons: true,
            //focusConfirm: false,
            focusCancel: true
        }).then(function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    url: 'Customer/DeleteCustomer',
                    data: {
                        CustomerId: customerId
                    },
                    success: function() {
                        swal("Success", "Product Deleted successfully", "success").then(function(isConfirm) {
                            if (isConfirm) {
                                location.reload();
                            }
                        });
                    },
                    error: function() {
                        swal("Error", "Product delete failed", "error")
                        location.reload();
                    }
                });
            }
            else {
                location.reload();
            }
        });
    }
    //[END][Delete Data]
</script>